.text {
  padding: 15px;
}

.bike-card-small-rated-header {
  padding: 15px;
}

.bike-card-small-rated {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-map-container {
  display: flex;
}

.map {
  height: 100vh;
  position: sticky;
}

#map {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.bike-card-small-rated {
  border-radius: 10px;
}
