// Specific CSS for your home-page
.header {
  background: linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
        ), url('https://images.unsplash.com/photo-1614294649523-b9a566499001?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100vh;
}
.banner-title {
  color: white;
}

.banner-slogan {
  color: #83BCFF !important;
}

#query {
  background-color: white;
  padding: 3px;
  padding-left: 10px;
}

* {
-webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
        border-radius: 50px !important;
-webkit-border-top: 50px !important;
    -moz-border-top: 50px !important;
        border-top: 50px !important;
-webkit-border-bottom: 50px !important;
    -moz-border-bottom: 50px !important;
        border-bottom: 50px !important;
}

.d-flex {
  align-items: center;
}

 .btn-primary {
  margin-right: 10px;
  padding: 25px;
}

// .btn {
//   padding: 25px;
// }
