// Specific CSS for your home-page
.header {
  background-image: url('https://loremflickr.com/1000/2000/motorbike');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
