<div class="my-container">
<h1>Styleguide</h1>

<h2>Container</h2>
<hr>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum veniam velit fugiat reprehenderit, labore quo possimus? Voluptas, hic, distinctio sapiente molestiae odio rem corrupti unde doloribus,
  nihil quia nulla quibusdam!</p>

<h2>Buttons</h2>
<hr>

<%= link_to 'See more', "#", class: "button-primary" %>

</div>

<h2>Cards</h2>
