<div class="my-container">
<h1>Styleguide</h1>

<h2>Container</h2>
<hr>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum veniam velit fugiat reprehenderit, labore quo possimus? Voluptas, hic, distinctio sapiente molestiae odio rem corrupti unde doloribus,
  nihil quia nulla quibusdam!</p>

<h2>Buttons</h2>
<hr>

<%= link_to 'See more', "#", class: "button-primary" %>

</div>

<h2>Cards</h2>
<div class="cards">
  <div class="bike-card-small-rated">
  <div class="bike-card-small-rated-header">
    <div class="star-container">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    </div>
    <i class="far fa-heart"></i>
  </div>

  <div class="bike-card-small-rated-text">
    <%= image_tag 'nmax1.jpeg' %>
    <h3>Yamaha | Nmax</h3>
    <p>Canggu, Bali, Indonesia</p>
  </div>
</div>

  <div class="bike-card-small-rated">
  <div class="bike-card-small-rated-header">
    <div class="star-container">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    </div>
    <i class="far fa-heart"></i>
  </div>

  <div class="bike-card-small-rated-text">
    <%= image_tag 'nmax1.jpeg' %>
    <h3>Yamaha | Nmax</h3>
    <p>Canggu, Bali, Indonesia</p>
  </div>
</div>

  <div class="bike-card-small-rated">
  <div class="bike-card-small-rated-header">
    <div class="star-container">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    </div>
    <i class="far fa-heart"></i>
  </div>

  <div class="bike-card-small-rated-text">
    <%= image_tag 'nmax1.jpeg' %>
    <h3>Yamaha | Nmax</h3>
    <p>Canggu, Bali, Indonesia</p>
  </div>
</div>
