//base button features

.button {
  color: $secondary;
  background: $primary;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: fit-content;
}
// first button size
.primary-btn {
  padding: 12px 20px;
  height: 47px;
}

// second button size
.secondary-btn {
  padding: 15px 25px;
  height: 60px;
}

//third button size
.tertiary-btn {
  padding: 10px 18px;
  height: 40px;
}
