.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.bike-card-small-rated {
  background-color: white;
  // padding: 25px;
  width: fit-content;
.bike-card-small-rated-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    .star-container {
      .fa-star {
        color: $primary;
        font-size: 15px;
      }
      .fa-heart {
        color: $primary;
        font-size: 25px;
      }
    }
  }

}

.fa-heart {
  color: $primary;
  font-size: 25px;
}

.fa-star {
  color: $primary;
  font-size: 15px;
}

// .bike-card-medium-vert {
//   background-size: cover;
//   background-position: center;
//   height: 472px;
//   width: 382px;
//   display: flex;
//   justify-content: center;
// }

// .bike-price-med-vert {
//   // position: absolute;
//   width: 346px;
//   height: 24px;
//   left: 0px;
//   top: 378px;
// }

// .bike-name-med-vert {
//   // position: absolute;
//   width: 188px;
//   height: 27px;
//   left: 22px;
//   top: 307px;
// }

.bike-card-medium-vert {
  background-color: white;
  padding: 25px;
  max-width: fit-content;
.bike-card-medium-vert-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .fa-heart {
      color: $primary;
      font-size: 25px;
    }
  }
  .bike-price-med-vert {
    // position: absolute;
    width: 346px;
    height: 24px;
    left: 0px;
    top: 378px;
  }
  .bike-name-med-vert {
    // position: absolute;
    width: 188px;
    height: 27px;
    left: 22px;
    top: 307px;
  }
}
