.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.bike-card-small-rated {
  background-color: white;
  padding: 25px;
  .bike-card-small-rated-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .star-container {
      .fa-star {
        color: #0B3954;
        font-size: 15px;
      }
    }
    .fa-heart {
      color: #0B3954;
      font-size: 25px;
    }
  }
  img {

  }
  .bike-card-small-rated-text {
    color: #0B3954;
    font-family: 'Montserrat';
    h3 {
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      // line-height: 16px;
    }
    p {
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      // line-height: 16px;
    }
  }
}
