.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $secondary;
  padding-top: 5px;
}

.logo {
  width: 150px;
  margin: 0 0 5px 10px;
}

.nav-links {
  padding: 10px 1px 5px 1px;
  list-style-type: none;
  display: flex;
}

.button-block {
  margin: 0 5px;
}

.button-block:hover {
  color: gray;
}
